node_modules
yarn-error.log
package-lock.json

.docz
.fab

.nyc_output
oclif.manifest.json
tsconfig.tsbuildinfo
lerna-debug.log

/build/lib
/build/esm
.DS_Store
.idea

# Handy to work on these in one workspace
# but these are published separately
/wip-plugins
