<!doctype html>
<html lang="en">
  <head>
    {{{ FAB_ENV_INJECTION }}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="application/javascript" nonce="{{ FAB_NONCE }}">
      window.something = 'here'
    </script>
  </head>
  <body>
    A simple HTML file with {{{ OPEN_DOUBLE }}} interpolations }} already
    <script type="application/javascript" src="{{{ OPEN_DOUBLE }}} url }}" nonce="{{ FAB_NONCE }}"></script>
    {{{ OPEN_TRIPLE }}} ADDITIONAL_INJECTION }}}
  </body>
</html>
