name: FAB CI

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x,14.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: yarn install
        run: |
          yarn
        env:
          CI: true
      - name: yarn typecheck
        run: |
          yarn typecheck
        env:
          CI: true
      - name: yarn build
        run: |
          yarn build
        env:
          CI: true
#      - name: yarn test
#        run: |
#          yarn test
#        env:
#          CI: true
      - name: Setup e2e tests
        run: |
          yarn link-all
          cd tests
          yarn
        env:
          CI: true
      - name: 'E2E: Paths correctly set up'
        run: |
          cd tests
          yarn test paths-exist
        env:
          CI: true
      - name: 'E2E: CLI reports errors correctly'
        run: |
          cd tests
          yarn test cli-errors
        env:
          CI: true
      - name: 'E2E: Server-Side Logic'
        run: |
          cd tests
          yarn test server-side-logic
        env:
          CI: true
      - name: 'E2E: Create React App'
        run: |
          cd tests
          yarn test create-react-app
        env:
          CI: true
      - name: 'E2E: NextJS'
        run: |
          cd tests
          yarn test nextjs
        env:
          CI: true
      - name: 'E2E: Deploying to CF Workers, AWS Lambda & S3'
        run: |
          cd tests
          yarn test deploys
        env:
          CI: true
          CF_WORKERS_API_TOKEN: ${{ secrets.CF_WORKERS_API_TOKEN }}
          AWS_S3_SECRET_KEY: ${{ secrets.AWS_S3_SECRET_KEY }}
          AWS_CRA_SECRET: ${{ secrets.AWS_CRA_SECRET }}
          AWS_NEXTJS_SECRET: ${{ secrets.AWS_NEXTJS_SECRET }}
